/* Encabezado */

header {
    overflow: hidden;
}

h1{
    width:100%;
    position: relative;
    margin-top:0;
}

#titleOne{
    width:16%;
    background-color:#f1f1f1;
    padding:2%;
    text-align:center;
    font-family: Montserrat;
    float:left;
    position:relative;
    font-size:2vw;
    height:3.1vh;

}

#titleTwo{
    width:76%;
    height:3.1vh;
    float:right;
    background-color:rgb(250, 191, 83);
    padding:2%;
    font-family: Raleway;
    text-align:left;
    position:relative;
    font-size:2vw;
}

#dash{
    display:none;
}

/*  >> SECTION */

/* Division de Nombre y Ocupacion de User */

#options{
    width:20%;
    height:30vh;
    font-family:Righteous;
    text-align: left;
    position: static;
    float: left;
}

#imgUser{
     width:30px;
     height:30px;
     border-radius: 50% ;
     margin: 10px 0px 10px 5px;
}

#loginInfo , #ocupationUser{
    background-color:#ffffff;
    float:left;
    width:90%;
    padding: 5%;
}

/* Division de botones */

#courses, #cohorts, #dashboard{
    background-color: #f1f1f1;
    font-size:1.5vw;
    width:100%;
    height: 30%;
    padding:5% 0;
    text-align: center;
}

ul li:hover {background: #555;}

#citys{
    display:none;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
}


/* ------- Pantalla que ira cambiando ----------  */

/* Desplegable de promociones Laboratoria*/

#info{
    width:80%;
    height:100%;
    text-align: left;
    float:right;
    display:none;
}

#promo{
    width:10%;
    margin:1%;
}

/* Botones */

.align{
    float: unset;
    width:50%;
    text-align:center;
    display:block;
}

button {
    transition-duration: 0.4s;
    background-color: #ffffff;
    width: 1vw;
    height:3vh;
    font-family: Raleway;
    font-size:1vw;
    margin-top:1vh;
}

button:hover {
    background-color: rgb(248, 205, 126);
    color: white;
}

/* #student{
    width:20%;
} */


/* Css de los graficos  */

.images_desp{
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.images_desp figure{
    margin: 0px 20px;
    width: 20%;
    padding: 15px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 3px;

}

.images_desp figure img{
    height: 200px;
    width: 100%;
    margin:0 auto;
}

.titulo{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
