body{
    margin:0;
    top:0;
    background-color: #f1f1f1;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    color: rgba(0,0,0,0.5);
}

input{
    display: block;
    padding:10px;
    width:100%;
    margin : 30px 0;
    font-size:20px;
}

input[type="button"]{
    background: linear-gradient(#FFDA63, #FFB940);
    border:0 ;
    color: brown;
    opacity:0.8;
    cursor:pointer;
    border-radius: 40px;
    margin-bottom:  0 ;
}
  
input[type="button"]:hover {
    opacity: 1;
}
  
input[type="button"]:active {
transform: scale(0.95);
 }

form {
    margin:auto;
    width: 50%;
    max-width: 500px;
    background: rgb(255, 229, 33);
    padding : 30px;
    border: 1px solid rgba(0,0,0,0.2);
  }
  

/* ENCABEZADO */

header {
    top:0;
}
h1{
    width:100%;
    position: relative;
    margin-top:0;
}
#titleOne{
    width:16%;
    background:#f1f1f1;;
    padding:2%;
    float:left;
    position:relative;
    height:3.5vh;

}
#logoLaboratoria{
    width:15vw;
    position: relative;
    margin-top:0;
    float:left;
}
#titleTwo{
    width:76%;
    height:3.5vh;
    float:right;
    background-color:rgb(255, 229, 33);
    padding:2%;
    font-family: Raleway;
    text-align:left;
    position:relative;
    font-size:2vw;
    
}
#dash, #cohortsH{
    display:none;
    
}
#dash{
    width:98%;
    float:left;
    position:relative;
    text-align: left;
}
#cohortsH{
    width:25vw;
    float:right;
    text-align: right;
    margin-top:0;
    padding:0;
    position: relative;
}

/*  SECTION */

/* >> Division OPTIONS */

#options{
    width:20%;
    height:80vh;
    font-family:Righteous;
    text-align: left;
    position: static;
    float: left;
    background-color: #FFFFFF;
}
#loginInfo{

    padding:5vh 0;
    margin-right:3vw;
    margin-left:1vw;
    font-size:1vw;
}
#imgUser {
    border-radius: 6vw 10vh;
    width: 4.4vw;
    height:8vh;
    float:left;
    margin-left:1vw;
}
#loginName{
    background-color:#ffffff;
    float:right;
}



nav{
    margin-top:9vh;;
}


#courses:hover{background:rgb(255,229,33);}
#selectCohorts:hover{background:rgb(255,229,33);}
#dashboard:hover{background:rgb(255,229,33);}
#courses, #selectCohorts, #dashboard{
    border-radius: 2.5vh ;
    background-color: #f1f1f1;
    font-size:1.5vw;
    width:100%;
    padding:2vh 0;
    margin-top:1vh;
    text-align: center;
}
ul li:hover {background: #555;}

#citys{
    display:none;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

#selectCohorts option{
    background: rgb(247, 240, 143);
    font-size:80%;
}



#info{
    width:78%;
    height:100%;
    text-align: left;
    float:right;
    display:none;
    margin-bottom: 2%;
    margin-left:2%;

}

/* #enProceso{
    display: none ;
} */


.search{
    float:left;
}


.titulo{
    font-family: Montserrat;
    font-weight: bold;
    position:relative;
}
/* 
#imageCircle{
    position: absolute;
    margin:1vh;
    margin-bottom:3%;
    margin-left: 22%;
    margin-top:3%;
    background-color: #FFFFFF;
    border-style:solid;
    padding-bottom:5vh;
} */
/* #graphic{
    width:15vw;
    height:28vh;

} */

button {
    transition-duration: 0.4s;
    background-color: #ffffff;
    width: 1vw;
    height:3vh;
    font-family: Raleway;
    font-size:1vw;
    margin-top:1vh;
}

#infoTitle{
    font-family: Montserrat;
    font-size: 2vw;
    margin-top:3vh;
}

footer {
    position:fixed;
    bottom:0;
    top:94%;
    width:100%;
    height:4vh;   /* Height of the footer */
    background: #000000;
    text-align: center;
    text-align-last: center;
    padding-top:2vh;
    font-family: Montserrat;
    color: #ffffff;
    font-size:80%;
    margin-left:0;

}

/* #selectCohorts {
    width:100%;
    background-color: #f1f1f1; 
    border-radius: 2.5vh ;
    font-size:1.5vw;
    padding:2vh 0;
    margin-top:1vh;
    text-align: center;
} */

@media (max-width:768px) {
    form{
      width:75%;
    }
  }
  
  @media (max-width:768px) {
    form {
      width:75%;
    }
  }
  
  @media(max-width:480px){
     form{
        width:90%;
      }
  }

